
*{
	box-sizing: border-box;
	/*border: solid 1px black;*/
}
html{
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	background-color: #fafaff;
	font-family: Helvetica;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
hr {
	width: 85%;
	border: solid 1px #444;

}

/*         Links         */

a:link {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: #444;
}

/*    Buttons     */
button {
	text-align: center;
	background-color: #ff8c00;
	color: #fafaff;
	border-radius: 5px;
	border-style: none;
	padding: 10px 15px;
}
button.Etch-a-sketch{
	padding: 10px 20px;
	margin: 5px;
}


/*     Header      */
header {
	background-color: #ff8c00;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 0;
	text-align: center;
	z-index: 1;
}

.pageTitle{
	display: inline-block;
	margin: 10vh auto auto auto;
	font-size: 50px;
	color: #333;
}
a.nav {
	background-color: #ff8c00;
	color: #fafaff;
	width: 30%;
	border-radius: 0px;
	display: inline-block;
}
div.logo{
	margin: 40vh auto auto auto;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	background-image: url("../Images/Logo.jpg");
	background-size: cover;
}



	/*        Main body       */
div.browseWrapper{
	background-color: #fafaff;
	min-height: 100vh;
	display: block;
	overflow: hidden;
	text-align: center;
}
div.browseWrapper:first-of-type{
	height: 100vh;
}
div.browseWrapper:nth-of-type(2n+2){
	background-color: #eafaff;
}
div.fig{
	display: block;
	text-align: center;
}

/*   ICONS    */
div.iconDiv{
	margin: 20vh 10vw;
	display: flex;
	justify-content: space-around;
}
.icon {
	height: 80px;
	width: 80px;
	background-color: transparent;
	border-radius: 50px;
}
.icon:hover{
	opacity: 0.5;
	background-color: transparent;
}

	#etch-a-sketch{
		border-radius: 0;
	}
		#etchIcon{
			margin: auto;
			position: relative;
			background-color: darkred;
			height: 80px;
			width: 80px;
			border-radius: 15px;
		}
		#etchIconScreen{
			position: absolute;
			top: 10px;
			left: 10px;
			height: 50px;
			width: 60px;
			background-color: #d4fbfa;
		}
		#etchIconButton1{
			position: absolute;
			bottom: 5px;
			left: 10px;
			height: 10px;
			width: 10px;
			border-radius: 50px;
			background-color: yellow;
		}
		#etchIconButton2{
			position: absolute;
			bottom: 5px;
			right: 10px;
			height: 10px;
			width: 10px;
			border-radius: 50px;
			background-color: yellow;
		}
	#calculator{
		overflow: hidden;
	}
		#calculatorIcon{
			padding-top: 8px;
			text-align: center;
		}
		.cb {
			display: inline-block;
			height: 18px;
			width: 18px;
			margin: 1px;
			background-color: #ddd;
			border-radius: 50px;
		}
	#pong{
		border: solid 2px red;
		height: 80px;
		width: 80px;
		border-radius: 50px;
	}
.certificateIcon{
	background-image: url("https://pbs.twimg.com/profile_images/692531829287567360/ytP7U362.png");
	background-size: contain;
	margin: auto;
}
#githubIcon {
	background-image: url("https://image.flaticon.com/icons/png/512/25/25231.png");
	background-size: contain;
	margin: auto;
}
#linkedInIcon{
	background-image: url("https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png");
	background-size: contain;
	margin: auto;
}

/*    TEXT      */

p.title{
	font-size: 60px;
}
p.content{
	font-size: 15px;
}
div.articleWrapper-text{
	text-align: left;
	padding: 10px;
	margin: 100px 30px;
	border-radius: 4px;
}
.articleWrapper-text p:first-of-type{
	font-weight: normal;
}

.rotateWarning{
	display: none;
}		


	/*     CACULATOR     */


	#container{
		background-color: #eee;
		width: auto;
		display: inline-block;
		padding: 10px;
		border-radius: 15px;
	}

	.child{
		width: 220px;
		text-align: center;
	}

	.uncle{
		width: 220px;
		text-align: center;
	}

	.aunt{
		width: 220px;
		text-align: center;
	}

	input {
		width: 180px;
		height: 20px;
		margin-bottom: 5px;
		border-radius: 3px;
	}


	button.calculator{
		width: 44px;
		height: 44px;
		margin: 2px;
	}

	/*    FLEX BOX     */
	div#nthWrapper{
		margin: auto;
		width: 200px;
		overflow: hidden;
		text-align: center;
	}
	div#flexWrapper, #nthWrapper{
		border-radius: 3px;
		background-color: #fff;
	}
	div#flexWrapper{
		margin: auto;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		padding: 10px;
		width: 300px;
	}
	div.flexItems{
		margin: 3px;
		width: 40%;
		text-align: center;
		flex-wrap: wrap;
		border-radius: 3px;
		padding: 10px;
		background-color: #d4fbfa;
	}
	div.nthItems{
		background-color: #d4fbfa;
		width: 40%;
		padding: 20px 0;	
		margin: 4%;
		float: left;
	}
	div.nthItems:nth-of-type(2n+2){
		float: right;
	}
	div.nthItems:nth-of-type(2){
		margin-top: 45px;
	}

@media only screen and (min-width: 700px){
	body {
		min-width: 500px;
	}

	button:hover{
		background-color: orange;
	}
	a:hover {
		background-color: orange;
		box-shadow: 10px;
	}
	header {
		min-width: 900px;
		background-color: #d4fbfa;
	}
	a.nav {
		width: auto;
		display: inline-block;
		border-radius: 5px;
		margin-right: 50px;
		padding: 10px 20px;
	}
	div.iconDiv{
		margin: 20vh 20vw;
	}
	a#lastNav{
		margin-right: 0;
	}
	.browseWrapper{
		min-height: 450px;
	}
	.browseWrapper:first-of-type{
		min-height: 400px;
	}
	div.articleWrapper{
		height: 370px;
		width: 370px;
	}
	div.articleWrapper-text{
		margin: 100px 10vw;
	}

}
